#Full-Form {
    color: white;
    display: grid;
    grid-template-columns: 40% 45%;
    grid-gap: 15%;
    background-color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 0;
    height: 100vh;
}

#Form-Left {
    color: white;
    padding: 0 3%;
}
    #Form-Left-Top { /*Changes Requests*/
        color: white;
    }
        #Employee-Name, #Employer-Name, #Work-Order-Lead-List, #Company-Supervisor-List, #Work-Order-Manager-List {
            font-size: 10pt;
            color: black;
            margin: 8px 0;
        }
        
        #Purpose-For-Request, #Training-Title  { /*TODO: figure out how to wrap text*/
            width: 100%;
            padding: 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
            ::placeholder {
                color: #b9bdcf
            }
        
    #Form-Left-Bottom
        #Travel-City, #Travel-State  {
            width: 100%;
            padding: 10px;
            margin: 4px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #Training-Start-Date, #Training-End-Date, #Travel-Start-Date, #Travel-End-Date {
            padding: 12px 20px;
            display: inline-block;
            border-radius: 4px;
            box-sizing: border-box;
        }
        

    #Training-Cost {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

#Right-Form {
    padding: 12px 20px;
}
#Sub-Right-Form {
    background-color: black;
    text-align: center;
    color: white;
    display: grid;
    padding: 12px 20px;
    margin: 8px 0;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    #SevenFive-MIE-Rate, #MIE-Rate, #Lodging-Rate, #Est-Per-Diem, #Est-Lodge-Tax-Fees, #Round-Mileage-Cost, #Est-Ground-Trans-Fees, #Est-Airfare-Price, #Baggage-Fees, #Est-Car-Rental-Price, #Est-Fuel-Cost, #Other-Cost   {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;    
    }

#Travel-Total-out, #Total-Cost-out {
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}