#Full-Form {
    color: white;
    display: grid;
    grid-template-columns: 40% 45%;
    grid-gap: 15%;
    background-color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 0;
}

html {
    background-color: #707070;
}

#Form-Left {
    color: white;
    padding: 0 3%;
}
    #Form-Left-Top { /*Changes Requests*/
        color: white;
    }
        #Employee-Name, #Employer-Name, #Work-Order-Lead-List, #Company-Supervisor-List, #Work-Order-Manager-List, #Project-Code {
            font-size: 10pt;
            color: black;
            margin: 8px 0;
        }
        
        #Purpose-For-Request, #Training-Title  {
            width: 100%;
            padding: 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
            ::placeholder {
                color: #b9bdcf;
                font-family: Arial, Helvetica, sans-serif;
            }
        
    #Form-Left-Bottom
        #Travel-City, #Travel-State  {
            width: 100%;
            padding: 10px;
            margin: 4px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #Training-Start-Date, #Training-End-Date, #Travel-Start-Date, #Travel-End-Date {
            padding: 12px 20px;
            display: inline-block;
            border-radius: 4px;
            box-sizing: border-box;
        }
        

    #Training-Cost {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

#Right-Form {
    padding: 12px 20px;
}
#Sub-Right-Form {
    background-color: black;
    text-align: center;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    border-bottom: 2px solid #ccc;
}

#Right-Form-Block{
    background-color: black;
    text-align: left;
    color: white;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    #SevenFive-MIE-Rate, #MIE-Rate, #Lodging-Rate, #Est-Per-Diem, #Est-Lodge-Tax-Fees, #Round-Mileage-Cost, #Est-Ground-Trans-Fees, #Est-Airfare-Price, #Baggage-Fees, #Est-Car-Rental-Price, #Est-Fuel-Cost, #Other-Cost   {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;    
    }

#Travel-Total-out, #Total-Cost-out {
    background-color: black;
    color: white;
    text-align: left;
}

button {
    transition-duration: 0.4s;
}

#submit-btn {
    border-radius: 50%;
    background-color: transparent;
    font-size: 60px;
    color: black;
    border-color: black;
}

#submit-btn:hover {
    background-color: #4CAF50;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-color: black;
}

#submit-btn[disabled] {
    background-color: transparent;
    opacity: 0.6;
    cursor: not-allowed;
}

#submit-btn[disabled]:hover {
    background-color: transparent;
    opacity: 0.6;
    cursor: not-allowed;
}

#reset-btn {
    border-radius: 50%;
    background-color: transparent;
    font-size: 60px;
    color: black;
    border-color: black;
}

#reset-btn:hover {
    background-color: #f44336;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(250, 250, 250, 0.19);
}


/* ON FORM_SUBMITTED.PY*/
#Full-Form-FS { /*Changes color of all text*/
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    width: 100%; 
    text-align: center; 
}

#fs_OutputTable Table{
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

#fs_OutputTable Thead {
    width: 6.7%; 
}

#fs_OutputTable Th {
    height: 100px;
    border-bottom: 1px solid #ccc;
}

#fs_OutputTable Th:hover {
    background-color:grey;
    text-shadow: 1px 1px 1px black;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#fs_OutputTable Tbody {
    height: 100px;
}

#form-Callback-Info { /*Changes color of table text*/
    color: white;
    background-color: black;
    text-align: center;
    color: white;
    display: block;
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}