{% extends 'base.html' %}

{% block content %}
    <title>{% block title %} Travel and Training Approval {% endblock %}</title>
    <div class="Fixed-Div">
        <div class="Full-Form">
            <div class="Form-Left">
                <div class="formStart">
                    <form action="/form" method="POST">
                    <h1>Requests</h1>
                    <input list="Employee" class="form1" placeholder="Name" name="Employee-Name">
                    <datalist id="Employee">
                        {%for i in range(0, employeeListLength)%}
                            <option>{{employeeList[i]}}</option>
                        {%endfor%}
                    </datalist>
                    <input list="Employer" class="form1" placeholder="Employer" name="Employer-Name">
                    <datalist id="Employer">
                        {%for i in range(0, employerListLength)%}
                            <option>{{employerList[i]}}</option>
                        {%endfor%}
                    </datalist>
                    <p></p>
                    <input list="Work-Order-Lead-List" class="form1" placeholder="Work Order Lead" name="Work-Order-Lead-List">
                    <datalist id="Work-Order-Lead-List">
                        {%for i in range(0, employeeListLength)%}
                            <option>{{employeeList[i]}}</option>
                        {%endfor%}
                    </datalist>
                    <input list="Company-Supervisor-List" class="form1" placeholder="Company Supervisor" name="Company-Supervisor-List">
                    <datalist id="Company-Supervisor-List">
                        {%for i in range(0, employeeListLength)%}
                            <option>{{employeeList[i]}}</option>
                        {%endfor%}
                    </datalist>
                    <input list="Work-Order-Manager-List" class="form1" placeholder="Work Order Manager" name="Work-Order-Manager-List">
                    <datalist id="Work-Order-Manager-List">
                        {%for i in range(0, employeeListLength)%}
                            <option>{{employeeList[i]}}</option>
                        {%endfor%}
                    </datalist>
                    <p></p>
                    <input type="text" class="form1" placeholder="Purpose..." name="Purpose-For-Request">
                </div>
                <div>
                    <h1>Training</h1>
                    <input type="text" class="form1" placeholder="Training Title" name="Training-Title">
                    <input type="date" class="form1" min="2018-01-01" max="2030-12-31" name="Training-Start-Date">
                    <input type="date" class="form1" min="2018-01-01" max="2030-12-31" name="Training-End-Date">
                    <p></p>
                    <label for="Certification" class="Certification">Certification<br/>
                        <input type="checkbox" class="toggle" name="Certification" value="Yes">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div>
                    <h1>Travel</h1>
                    <input type="text" class="form1" placeholder="City" name="Travel-City">
                    <input type="text" class="form1" placeholder="State" name="Travel-State">
                    <input type="date" class="form1" min="2018-01-01" max="2030-12-31" name="Travel-Start-Date">
                    <input type="date" class="form1" min="2018-01-01" max="2030-12-31" name="Travel-End-Date">
                </div>
            </div>

            <div class="Right-Form">
                <h1>Training Cost</h1>
                <input type="text" class="form2" value="$0.00" name="Training-Cost">
                <h2>Itemized Travel Costs</h2>
                <div class="Sub-Right-Form">
                    <label for="75-MIE-Rate">75% M&IE Rate
                        <input type="text" class="form2" value="$0.00" name="75-MIE-Rate">
                    </label>
                    <label for="MIE-Rate">M&IE Rate
                        <input type="text" class="form2" value="$0.00" name="MIE-Rate">
                    </label>
                    <label for="Lodging-Rate">Lodging Rate
                        <input type="text" class="form2" value="$0.00" name="Lodging-Rate">
                    </label>

                    <label for="Est-Per-Diem">Estimated <br/>Per Diem
                        <input type="text" class="form2" value="$0.00" name="Est-Per-Diem">
                    </label>
                    <label for="Est-Lodge-Tax-Fees">Estimated Lodging <br/>taxes and fees
                        <input type="text" class="form2" value="$0.00" name="Est-Lodge-Tax-Fees">
                    </label>
                    <label for="Round-Mileage-Cost">Roundtrip Auto <br/>Mileage Cost
                        <input type="text" class="form2" value="$0.00" name="Round-Mileage-Cost">
                    </label>
                    <label for="Est-Ground-Trans-Fees">Estimated Ground <br/>Transportation Fees
                        <input type="text" class="form2" value="$0.00" name="Est-Ground-Trans-Fees">
                    </label>
                    <label for="Est-Airfare-Price">Estimated Airfare Price
                        <input type="text" class="form2" value="$0.00" name="Est-Airfare-Price">
                    </label>
                    <label for="Baggage-Fees"><br/>Baggage Fees
                        <input type="text" class="form2" value="$0.00" name="Baggage-Fees">
                    </label>

                    <label for="Est-Car-Rental-Price">Estimated Car Rental Price
                        <input type="text" class="form2" value="$0.00" name="Est-Car-Rental-Price">
                    </label>
                    <label for="Est-Fuel-Cost"><br/>Estimated Fuel Cost
                        <input type="text" class="form2" value="$0.00" name="Est-Fuel-Cost">
                    </label>
                    <label for="Other-Cost"><br/>Other Cost
                        <input type="text" class="form2" value="$0.00" name="Other-Cost">
                    </label>
                </div>
                <button type="submit" class="submit-button">Submit</button>
            </div>
            <div class="costCalculator">
                <h1>Total Travel Cost:</h1>
                <h1>Grand Total:</h1>
            </div>
        </div>
        



    </div>
{% endblock %}